<div class="additional-info-line">
    <div class="container_12">
        <div class="grid_9">
            <h2 class="rs title">Discover the best and brightest projects on FundsMart.</h2>
            <p class="rs description">The purpose of the talent marketplace is to help creators get their idea from the idea stage to the fundraising
                stage</p>
        </div>
        <div class="grid_3 ta-r">
            <a class="btn bigger btn-red" href="#">Learn more</a>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!--end: .additional-info-line -->