<div class="home-discover-friends">
    <div class="container_12">
        <div class="row-friends">
            <a class="thumb-avatar" href="#" *ngFor="let i of [].constructor(8)">
                <img src="assets/images/ex/1.jpg" alt="$MORE_PROJECTS" />
            </a>
            <div class="clear"></div>
        </div>
        <div class="row-friends row-connect-fb">
            <a class="thumb-avatar t-first" href="#">
                <img src="assets/images/ex/4.jpg" alt="$USER_NAME" />
            </a>
            <div class="connect-fb">
                <p class="rs description">Discover further projects on our platform </p>
                <a href="#" class="btn btn-fb">Search more projects</a>
            </div>
            <a class="thumb-avatar t-last" href="#">
                <img src="assets/images/ex/4.jpg" alt="$USER_NAME" />
            </a>
            <div class="clear"></div>
        </div>
        <div class="row-friends">
            <a class="thumb-avatar" href="#" *ngFor="let i of [].constructor(8)">
                <img src="assets/images/ex/3.jpg" alt="$MORE_PROJECTS" />
            </a>
            <div class="clear"></div>
        </div>
    </div>
</div>
<!--end: .home-discover-friends -->